*{margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
html, body{height:100%; font-size:14px; font-family:"Microsoft Yahei", "微软雅黑"}/*, SourceHanSans-Normal,-apple-system,Helvetica Neue,PingFang SC,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Source Han Sans TC,"Microsoft Yahei",sans-serif,Verdana, Arial, Helvetica;*/
a, a:hover, a:active, a:visited,a:focus{color:#444; text-decoration:none;}
img{border:none; vertical-align:top;}
input, select, textarea{outline:0; resize:none;}/*vertical-align:top;*/
ol, ul, li{list-style:none;}
p{word-wrap:break-word;}

.wrap{position:relative; width:1180px; margin:0 auto;}
.pointer{cursor:pointer;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.clearfix{zoom:1;}
.clearfix:after{clear:both; display:block; content:'';}
.phcolor{color:#aaa;}
.bg-f6f6f6{background:#F6F6F6;}
.ellipsis{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.b-index *, .b-bass *, .bm-case *, .b-contact *, .b-milestone *, .b-job *, .b-company *, .b-newslist *, .header *, .footer *{font-weight: 200;}
area{cursor:pointer;}
a{transition:all 0.5s}
.btn{display:block; height:40px; line-height:38px; text-align:center; border:1px solid #fff; cursor:pointer;}
/* 字体图标 */
.icon2{background:url(../images/sprites_v7.png);}

/*** 头部 ***/
.header{position:absolute; z-index:99; width:100%; height:60px; background:transparent;}
.header .wrap{width:1180px;}
.header .logo{display:inline-block; width:144px; margin-top:11px; background-position:0px 0px;}
.header .nav-group{float:right; height:60px;}
.header .nav-group .nav-list{position:relative; float:left; margin:0px 0px 0px 65px;}
.header .nav-group .nav-list .bumo-code-review{width: 124px; margin-top: 6px;}
.header .nav-list .nav-a{display:block; padding:0px 4px; color:#fff; line-height:58px; font-size:16px; text-align:center; border-bottom:2px solid transparent;}
.header .nav-list .nav-a:hover{color:#f0fbfb; border-bottom-color:transparent;}
.header .nav-list.active .nav-a{color:#f0fbfb; border-bottom-color:#f0fbfb;}

.header.fixed{position:fixed; top:0px; z-index:99; background:#fff; box-shadow:0 4px 8px rgba(0,0,0,.1);}
.header.fixed .nav-list .nav-a{color:#444;}
.header.fixed .nav-list .nav-a:hover{color:#589181; border-color:transparent;}
.header.fixed .nav-list.active .nav-a{color:#589181; border-color:#589181;}
.header-index.fixed{-webkit-transition:background .3s ease; -moz-transition:background .3s ease; -ms-transition:background .3s ease; -o-transition:background .3s ease; transition:background .3s ease;}

.header .nav-group .sub-nav{position:absolute; top:60px; left:-25px; z-index:2; display:none; width:130px; background:#fff; border-radius:0px 0px 2px 2px; box-shadow:0 1px 3px rgba(66, 82, 74, 0.2);}
.header .nav-group .sub-nav li{height:40px; line-height:40px; text-align:center; border-bottom:1px solid #f5f5f5;}
.header .nav-group .sub-nav li:last-child{border-bottom:0px;}
.header .nav-group .sub-nav li a{display:block; height:40px; line-height:40px; text-align:center; font-size:14px; color:#444;}
.header .nav-group .sub-nav li a:hover{color:#589181;}
.header .nav-list:hover .sub-nav{display:block;}

/* 首页 - 轮播图 */
.swiper-container{width:100%; height:600px;}
.swiper-container .swiper-wrapper{height:600px;}
.swiper-container .swiper-slide{width:100%; height:600px;}
.swiper-container .slide-wrap{position:relative; width:100%; height:600px;}
.swiper-container .slide-wrap .txt .tit{margin-bottom: 23px; color: #fff; font-size: 48px; font-weight: 500;}
.swiper-container .slide-wrap .txt .slogan{margin-bottom: 79px; color: #fff; font-size: 20px;}
.swiper-container .slide-wrap .txt .btn{width: 120px; height: 40px; font-size: 18px; color: #fff;}
.swiper-container .slide-wrap .txt .btn:hover{color:#589181; border:1px solid #fff; background:#fff;}
 
.swiper-container .slide-bubi{
	background:-webkit-linear-gradient(top, #010425, #004242);
	background:-moz-linear-gradient(top, #010425, #004242);
	background:-ms-linear-gradient(top, #010425, #004242);
	background:-o-linear-gradient(top, #010425, #004242);
	background:linear-gradient(top, #010425, #004242);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#010425, endColorstr=#004242);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#010425, endColorstr=#004242)";
}
.swiper-container .slide-bubi img.bg{position: absolute; top:100px; left: 50%; z-index:1; width: 1104px; margin-left: -552px;}

.swiper-container .slide-bumeng{
	background:-webkit-linear-gradient(top, #004543, #00b17d);
	background:-moz-linear-gradient(top, #004543, #00b17d);
	background:-ms-linear-gradient(top, #004543, #00b17d);
	background:-o-linear-gradient(top, #004543, #00b17d);
	background:linear-gradient(top, #004543, #00b17d);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#004543, endColorstr=#00b27c);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#004543, endColorstr=#00b27c)";
}
.swiper-container .slide-bumeng .img{width:489px; margin-top: 100px;}
.swiper-container .slide-bumeng .txt{width: 540px; margin-top: 200px;}

.swiper-container .slide-bubix{
	background:-webkit-linear-gradient(top, #000424, #044341);
	background:-moz-linear-gradient(top, #000424, #044341);
	background:-ms-linear-gradient(top, #000424, #044341);
	background:-o-linear-gradient(top, #000424, #044341);
	background:linear-gradient(top, #000424, #044341);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000424, endColorstr=#044341);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000424, endColorstr=#044341)";
}
.swiper-container .slide-bubix .img{width:525px; margin-top:120px; margin-right:100px;}
.swiper-container .slide-bubix .txt{width: 450px; margin-top: 200px; margin-left:100px;}

.swiper-container .slide-bunuo{ 
	background:-webkit-linear-gradient(top, #04272a, #259c82);
	background:-moz-linear-gradient(top, #04272a, #259c82);
	background:-ms-linear-gradient(top, #04272a, #259c82);
	background:-o-linear-gradient(top, #04272a, #259c82);
	background:linear-gradient(top, #04272a, #259c82);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#042829, endColorstr=#249b82);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#042829, endColorstr=#249b82)";
}
.swiper-container .slide-bunuo .img{width: 417px; margin-top:110px; margin-right: 50px;}
.swiper-container .slide-bunuo .txt{width: 600px; margin-top: 200px; margin-left: 50px;}

.swiper-container .slide-bumo{ 
	background:-webkit-linear-gradient(top, #04272a, #259c82);
	background:-moz-linear-gradient(top, #04272a, #259c82);
	background:-ms-linear-gradient(top, #04272a, #259c82);
	background:-o-linear-gradient(top, #04272a, #259c82);
	background:linear-gradient(top, #04272a, #259c82);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#042829, endColorstr=#249b82);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#042829, endColorstr=#249b82)";
}
.swiper-container .slide-bumo .img{width: 1176px; height:400px; margin-top:110px;}
.swiper-container .slide-bumo .txt{position: absolute; bottom: 35px;}

.swiper-container .slide-bumo-graduation-competition{
	background:-webkit-linear-gradient(left, #2b1e66, #183781);
	background:-moz-linear-gradient(left, #2b1e66, #183781);
	background:-ms-linear-gradient(left, #2b1e66, #183781);
	background:-o-linear-gradient(left, #2b1e66, #183781);
	background:linear-gradient(left, #2b1e66, #183781);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#042829, endColorstr=#249b82);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#042829, endColorstr=#249b82)";
}
.swiper-container .slide-bumo-graduation-competition .img{width: 1180px; height:400px; margin-top:110px;}
.swiper-container .slide-bumo-graduation-competition .txt{position: absolute; bottom: 60px; left: 50px;}
/* .swiper-container .slide-bumo-graduation-competition .txt .btn{color: #fff24e; background: transparent; border: 1px solid #fff24e;}
.swiper-container .slide-bumo-graduation-competition .txt .btn:hover {color: #412b85; background: #f9d864; border: 1px solid #f9d864;} */

/* pagination */
.swiper-container .swiper-pagination {position: absolute; z-index: 20; bottom: 33px; width: 100%; text-align: center; }
.swiper-container .swiper-pagination-bullet {position:relative; display: inline-block; width: 60px; height: 2px; border-radius: 8px; background: #80d8be; margin: 0 5px; cursor: pointer; border-radius: 0px;}
.swiper-container .swiper-pagination-bullet:before {content: ''; position: absolute; top: -4px; width: 100%; height: 4px; left: 0px;}
.swiper-container .swiper-pagination-bullet:after {content: ''; position: absolute; top: 2px; width: 100%; height: 4px; left: 0px;}
.swiper-container .swiper-pagination-bullet-active {background: #fff; }

/* 首页 - WeShare链网络 */
.bubix{position:relative; height:560px; background: #fff;}
.bubix .wrap{padding:0px 30px;}
.bubix .wrap img{width:540px; margin-top:26px;}
.bubix .tit2{margin-bottom:50px; padding-top:50px; text-align:center; color:#000;font-size:30px; font-weight:500;}
.bubix .txt{width:500px;}
.bubix .txt .info{margin-bottom:5px; color: #589181; font-size: 18px; line-height: 30px;}
.bubix .txt .feature-group{overflow:hidden;}
.bubix .txt .feature-item{margin:10px 0px;}
.bubix .txt .feature-item h3{color:#000; line-height: 30px; font-weight: 500;}
.bubix .txt .feature-item span{color: #939393; line-height: 14px;}
.bubix .btn{width: 100px; height: 36px; margin-top:30px; color: #589181; font-size: 16px; line-height: 34px; border: 1px solid #589181; border-radius: 0px;}
.bubix .btn:hover{color: #fff; background: #589181; transition:all 0.3s;}

/* 首页 - bass */
/* .bass{height:619px; padding-top:80px; background: #fff;}
.bass .wrap{padding:0px 30px;}
.bass .wrap img{width:421px; margin-top:26px;}
.bass .txt{width:480px; height:500px;}
.bass .txt .info{margin-bottom:26px; color: #589181; font-size: 20px; line-height: 35px;}
.bass .txt ul{overflow:hidden;}
.bass .txt li{width:240px; margin:15px 0px;}
.bass .txt .i-yes{float: left; width: 25px; height: 25px; margin-right:10px; background-position: -479px 1px;}
.bass .btn{width: 150px; height: 36px; margin-top:30px; color: #589181; font-size: 16px; line-height: 34px; border: 1px solid #589181; border-radius: 0px;}
.bass .btn:hover{color: #fff; background: #589181; transition:all 0.3s;} */

/* 首页 - 行业应用 */
.scene-wrap{width:100%; margin-top:20px; background: #373D41;}
.scene-wrap .scene-group{width:100%; margin:0 auto;}
@media screen and (min-width: 1440px) {
	.scene-wrap .scene-group{width:1440px;}
}
.scene-group .scene-item{position:relative; width:20%; transition: margin-top 0.5s;}
.scene-group .scene-item img{width:100%;}
.scene-group .scene-item .mask{position: absolute; top:0px; width:100%; height:100%; background: #589181; opacity: 0; filter:alpha(opacity=0);}
.scene-group .scene-item .cnt{position: absolute; top:0px; width:100%; height: 100%; color:#fff;}
.scene-group .scene-item .cnt img.i{position: absolute; top:18%; left: 50%; width:80px; height: 82px; margin-left: -39px; opacity:0.7; filter:alpha(opacity=70);}
.scene-group .scene-item .cnt .line{position:absolute; top:50%; left:50%; width:100px; height:1px; margin-left:-50px; background:#b6b6b6;}
.scene-group .scene-item .cnt h3{position: absolute; top: 67%; width: 100%; font-size:24px; text-align:center; opacity:0.7; filter:alpha(opacity=70);}
.scene-group .scene-item .cnt p{position: absolute; top:50%; width: 100%; padding:0px 15px; opacity:0; filter:alpha(opacity=0); line-height:25px;}
.scene-group .scene-item .cnt a.btn{position: absolute; top:80%; left:50%; width: 100px; height: 36px; margin-left:-50px; line-height: 34px; color: #fff; opacity:0; filter:alpha(opacity=0);}
.scene-group .scene-item .cnt a.btn:hover{background:#fff; color:#589181; border-color:#fff;}
.scene-group .scene-item.active{margin-top:-20px;}
.scene-group .scene-item.active .mask{opacity: 1; filter:alpha(opacity=100);}
.scene-group .scene-item.active .cnt img.i{top:6%; opacity:1; filter:alpha(opacity=100);}
.scene-group .scene-item.active .cnt .line{opacity:0; filter:alpha(opacity=0);}
.scene-group .scene-item.active .cnt h3{top:33%; opacity:1; filter:alpha(opacity=100);}
.scene-group .scene-item.active .cnt p{opacity:1; filter:alpha(opacity=100);}
.scene-group .scene-item.active .cnt a{opacity:1; filter:alpha(opacity=100);}

/*** 首页-我们的优势 ***/
.advantage{position:relative; z-index:-1; min-height:600px; padding-bottom:1px; background:#f0f8f7;}
.advantage .tit2{margin-bottom:50px; padding-top:50px; text-align:center; color:#000;font-size:30px; font-weight:400;}
.advantage .btn{width:160px; height:36px; margin:50px auto 50px; color:#589181; font-size: 16px; line-height:34px; border: 1px solid #589181; border-radius:0px;}
.advantage .btn:hover{color: #fff; background: #589181; transition:all 0.3s;}
.advantage .avt-group{height:387px; padding-left: 11px;}
.advantage .avt-group .avt-item{width:386px; height:194px; padding:40px 35px; text-align:left; border:1px solid transparent;}
.advantage .avt-group .avt-item .cnt{margin-left:138px;}
.advantage .avt-group .avt-item h3{position:relative; margin:15px auto 10px; font-size:18px; color:#000; font-weight:400;}
.advantage .avt-group .avt-item p{font-size:14px; color:#333; line-height:25px;}
.advantage .avt-group .avt-item .i-adv1{width: 80px; height: 80px; margin-top: 15px;}
.advantage .avt-group .avt-item .i-adv2{width: 80px; height: 80px; margin-top: 15px;}
.advantage .avt-group .avt-item .i-adv3{width: 80px; height: 80px; margin-top: 15px;}
.advantage .avt-group .avt-item .i-adv4{width: 80px; height: 80px; margin-top: 15px;}
.advantage .avt-group .avt-item .i-adv5{width: 80px; height: 80px; margin-top: 15px;}
.advantage .avt-group .avt-item .i-adv6{width: 80px; height: 80px; margin-top: 15px;}
.advantage .avt-group .avt-item.active{background:#fff; border:1px solid #d8dbdb; box-shadow:0px 0px 12px #b6dcd9;}
.advantage .avt-group .avt-item.active .i-adv1{background-position: -553px -223px;}
.advantage .avt-group .avt-item.active .i-adv2{background-position: -652px -223px;}
.advantage .avt-group .avt-item.active .i-adv3{background-position: -744px -226px;}
.advantage .avt-group .avt-item.active .i-adv4{background-position: -845px -223px;}
.advantage .avt-group .avt-item.active .i-adv5{background-position: -941px -226px;}
.advantage .avt-group .avt-item.active .i-adv6{background-position: -1052px -223px;}

/*** 首页-更多应用场景 ***/
.solutions{position:relative; z-index:-1; width:100%; height:770px; overflow:hidden; background:#fff;}
.solutions .tit2{margin-bottom:50px; padding-top:50px; text-align:center; color:#000;font-size:30px; font-weight:400;}
.solutions .circle{position:absolute; left:50%; top:115px; z-index:-1; width:944px; height:600px; margin:0px 0px 0px -472px;}
.solutions .circle4{position:absolute; left:50%; top:50%; width:1057px; height:339px; margin:-169.5px 0px 0px -528.5px; border:1px dashed #5bc09e; border-radius:50%;}
.solutions .circle4 .i-slogo{position:absolute; top:50%; left:50%; width:401px; height:274px; margin:-137px 0px 0px -200px; background-position:0px -505px;}
.solutions .bubi{position: absolute; top: 50%; left: 50%; width: 244px; margin: -137px 0px 0px -122px;}
.solutions .circle4 .i-icon{display:block; width:78px; height:78px; /*background:#5bc09e url(../images/sprites_v7.png);*/ border-radius:50%;}
.solutions .circle4 .gycs{position:absolute; top:-40px; left:250px;}
.solutions .circle4 .dzfp{position:absolute; top:-10px; left:720px;}
.solutions .circle4 .wlwgx{position:absolute; top: 120px; left: -20px;}
.solutions .circle4 .lhzx{position:absolute; top: 170px; left:980px;}
.solutions .circle4 .yljl{position:absolute; top:261px; left:210px;}
.solutions .circle4 .sjaq{position:absolute; top:310px; left:600px;}
.solutions .circle4 .i-gycs{background-position:-501px -333px;}
.solutions .circle4 .box .small{position: absolute; top: -15px; left: -15px; z-index: -1; width:109px; height:109px; border-radius:50%; background:#c2f6e4; transform: scale(0.5);}
.solutions .circle4 .box .big{position: absolute; top: -35px; left: -35px; z-index: -2; width:148px; height:148px; border-radius:50%; background:#edfdf8; transform: scale(0.5);}
.solutions .circle4 .i-dzfp{background-position:-614px -333px;}
.solutions .circle4 .i-wlwgx{background-position:-727px -333px;}
.solutions .circle4 .i-lhzx{background-position:-840px -333px;}
.solutions .circle4 .i-yljl{background-position:-953px -333px;}
.solutions .circle4 .i-sjaq{background-position:-1066px -333px;}
.solutions .circle4 p{font-size: 18px; color: #6c6c6c;}
.solutions .circle4 .gycs p{margin-top: -105px; margin-left: -75px;}
.solutions .circle4 .dzfp p{margin-top: -119px; margin-left: 64px;}
.solutions .circle4 .wlwgx p{margin-top: 2px; margin-left: -49px;}
.solutions .circle4 .lhzx p{width:100px; margin-top: 5px; margin-left: 49px;}
.solutions .circle4 .yljl p{margin-top:5px; text-align:center;}
.solutions .circle4 .sjaq p{margin-top:-6px; margin-left:81px;}

.gycs{position:absolute; top:-60px; left:250px;}
.small{position: absolute; top: -15px; left: -15px; z-index: -1; width:118px; height:118px; border-radius:50%; background:#c2f6e4; transform: scale(0.5);}
.big{position: absolute; top: -35px; left: -35px; z-index: -2; width:157px; height:157px; border-radius:50%; background:#edfdf8; transform: scale(0.5);}

@keyframes myfirst{
	0% {transform: scale(0.5);}
	90% {transform: scale(1);}
	100% {transform: scale(0.5);}
}
@keyframes myfirst2{
	0% {transform: scale(0.7);}
	90% {transform: scale(1);}
	100% {transform: scale(0.5);}
}
.solutions .circle4 .active .small{animation:myfirst2 3s ease forwards;}
.solutions .circle4 .active .big{animation:myfirst 3s ease forwards;}

.solutions .i-sdata{position:absolute; top:28px; left:331px; width:89px; height:89px; background-position:-100px -190px;}
.solutions .i-swelfare{position:absolute; top:187px; left:409px; width:89px; height:89px; background-position:-201px -190px;}
.solutions .i-svote{position:absolute; top:341px; left:339px; width:89px; height:89px; background-position:-201px -290px;}
.solutions .i-credit{position:absolute; top:336px; left:139px; width:89px; height:89px; background-position:-100px -290px;}
.solutions .i-publicity{position:absolute; top:192px; left:58px; width:89px; height:89px; background-position:0px -291px;}
.solutions .i-medical{position:absolute; top:45px; left:142px; width:89px; height:89px; background-position:0px -190px;}
/* 点缀的圆 */
.solutions .circle .adorns{position:absolute; z-index:-1; border-radius:50%;}
.solutions .circle .adorns.left1{top: 392px; left: -50px; width: 20px; height: 20px; background: #9ff5d8;}
.solutions .circle .adorns.left2{top: 535px; left: 324px; width: 26px; height: 26px; background: #a4a7db;}
.solutions .circle .adorns.left3{top: 217px; left: 61px; width: 35px; height: 35px; background: #7175c6;}
.solutions .circle .adorns.left4{top: 258px; left: 200px; width: 14px; height: 14px; background: #8c97cb;}
.solutions .circle .adorns.right1{top: 75px; left: 633px; width: 34px; height: 34px; background: #addfce;}
.solutions .circle .adorns.right2{top: 150px; left: 957px; width: 21px; height: 21px; background: #7175c6;}
.solutions .circle .adorns.right3{top: 439px; left: 740px; z-index: 1; width: 27px; height: 27px; background: #8b8ed0;}

/* 首页 - 合作伙伴 */
.partner{position:relative; z-index:-1; width:100%; padding-bottom:30px;; overflow:hidden; background:#f0f8f7;}
.partner .tit2{margin-bottom:50px; padding-top:50px; text-align:center; color:#000;font-size:30px; font-weight:400;}

/* 首页 - 企业资讯 */
.news{position:relative; z-index:-1; width:100%; margin-bottom:50px; overflow:hidden; background:#fff;}
.news .tit2{margin-bottom:50px; padding-top:50px; text-align:center; color:#000;font-size:30px; font-weight:400;}
.news .news-group{overflow: hidden;}
.news .news-group .news-item{position:relative; width:376px; height:201px;}
.news .news-group .news-item:nth-child(2){margin:0px 25px;}
.news .news-group .news-item img{width:100%; height:100%;}
.news .news-group .news-item p{position:absolute; bottom:0px; width:100%; height:50px; padding:0px 15px; line-height: 50px; font-size: 16px; text-align:center; color:#fff; background:rgba(88, 145, 129, 0.9);}

/* 首页 - 连接商业价值，融合价值创新 */
.footer-banner{height:100px; background:#589181;}
.footer-banner img{display:block; margin-left: -113px;}
.footer-banner .particles-js{width:1180px; height:100px;}
.footer-banner h2{position: absolute; top: 50%; left: 50%; margin-left: -156px; margin-top: -15px; font-size: 24px; color: #fff;}

/* 首页 - 合作伙伴 */
.partner-group{width:1200px; margin-top:-10px; overflow:hidden;}
.partner-group .partner-item{position:relative; width:180px; height:71px; margin:0px 20px 20px 0px; text-align:center; cursor:pointer; background: #fff;}

.partner-group .partner-item .company{position:absolute; top: 23px; width: 100%; font-size: 18px; color: #fff; font-weight: 500; opacity:0;}
.partner-group .partner-item img{margin-top:-4px;}
.partner-group .partner-item.hikingjm img{width:160px; margin-top:0px;}
.partner-group .partner-item.crcb img, .partner-group .partner-item.cfca img, .partner-group .partner-item.cpcn img,
.partner-group .partner-item.huaan img{width:160px; margin-top:0px;}
.partner-group .partner-item.gyb img{width:160px; margin-top:0px;}
.partner-group .partner-item.bsb img{width:160px; margin-top:0px;}
.partner-group .partner-item.azure img{width:160px; margin-top:0px;}
.partner-group .partner-item.active{background:#589181;}
.partner-group .partner-item.active:after{content:''; position: absolute; top:0px; left:0px;}
.partner-group .partner-item.active img{opacity:0; filter:alpha(opacity=0);}
.partner-group .partner-item.active .company{opacity:1; filter:alpha(opacity=100);}
/*.partner-group .partner-item.bumeng img{width: 195px; margin-top: 9px;}
.partner-group .partner-item.aliyun img{width: 170px; margin-top: 12px;}
.partner-group .partner-item.jgl img{width: 150px; margin-top: 6px;}
.partner-group .partner-item.digichain img{margin-top: 2px;}
.partner-group .partner-item.wuchain img{width: 130px; margin-top: 2px;}
.partner-group .partner-item.picc img{width: 230px; margin-top: 4px;}*/

/*** 应用案例 ***/
.bm-case .banner-head{position:relative; height:430px; margin-top:60px; background:#00b67e;}
.bm-case .banner-head .txt, .bm-case .banner-head .img-wrap{width:50%; height:430px;}
.bm-case .banner-head .txt{padding-left:45px;}
.bm-case .banner-head .txt .tit{margin-top: 128px; color:#fff; font-size:44px; font-weight:400;}
.bm-case .banner-head .txt .cnt{margin-top:30px; color:#fff; font-size:20px; line-height:36px;}
.bm-case.case-finance .banner-head{background:#019eeb;}
.case-share-bond .banner-head{background:#03bea6;}
.case-supply-chain .banner-head{background:#5c39cd;}
.case-publicity .banner-head{background:#fe6e17;}

.bm-case.case-asset .banner-head img{width:545px; margin-top:40px;}
.bm-case.case-asset .case-solution .img-wrap{width:681px; height:446px;}
.bm-case.case-finance .banner-head img{width:545px; margin-top:60px;}
.bm-case.case-finance .case-solution .img-wrap{width:737px; height:424px;}
.bm-case.case-share-bond .banner-head img{width:545px; margin-top:40px;}
.bm-case.case-share-bond .case-solution .img-wrap{width:704px; height:422px;}
.bm-case.case-supply-chain .banner-head img{width:545px; margin-top:50px;}
.bm-case.case-supply-chain .case-solution .img-wrap{width:682px; height:393px;}
.bm-case.case-publicity .banner-head img{width:545px; margin-top:65px;}
.bm-case.case-publicity .case-solution .img-wrap{width:713px; height:409px;}

/* 解决方案-行业痛点 */
.bm-case .case-solution{padding-bottom:50px; background:#fff;}
.bm-case .case-solution .wrap{color:#444; overflow:hidden;}
.bm-case .case-solution .wrap .tit2{margin-bottom:50px; padding-top:50px; color:#000; font-size:36px; font-weight: 400; text-align:center;}
.bm-case .case-solution .img-wrap{position:relative; width:800px;}
.bm-case .case-solution .img-wrap img{position:absolute; width:100%;}
.bm-case .case-solution .img-wrap .img2{z-index:15;}
.bm-case .case-solution .wrap .intro{position:relative; width:306px; padding:20px; color:#333; font-size:14px; line-height:31px; font-weight:200; text-align:left; text-indent: 2em;}
.bm-case .case-solution .wrap .intro .cnt{display:none;}
.bm-case .case-solution .wrap .intro .cnt.active{display:block;}
.bm-case .case-solution .wrap .intro:before{content:''; position:absolute; top:0px; right:0px; width:60px; height:60px; border:1px solid #589181; border-left: 0px; border-bottom: 0px;}
.bm-case .case-solution .wrap .intro:after{content:''; position:absolute; bottom:0px; left:0px; width:60px; height:60px; border:1px solid #589181; border-right: 0px; border-top: 0px;}
.bm-case .feature{padding:70px 0px 50px; background:#f0f8f7;}
.bm-case .feature .feature-group{height:300px;}
.bm-case .feature-group .feature-item{position:relative; width:373px; height:300px; padding:75px 25px 0px 25px; border:1px solid #d8dbdb; background:#fff;}
.bm-case .feature-group .feature-item .feature-icon{position: absolute; top: -20px; right: 10px; width: 180px;}
.bm-case .feature-group .feature-item .i-issuer{}
.bm-case .feature-group .feature-item .i-channel{}
.bm-case .feature-group .feature-item .i-user{}
.bm-case .feature-group .feature-item.center{margin:0px 30px;}
.bm-case .feature-group .feature-item h3{margin-bottom:25px; color:#000; font-size: 24px;}
.bm-case .feature-group .feature-item p{color:#333; font-size: 14px; line-height:25px;}

.bm-case .app{position:relative; padding-bottom:50px;}
.bm-case .app .wrap{overflow:hidden;}
.bm-case .app .tit2{margin-bottom:50px; padding-top:50px; color:#000; font-size:36px; font-weight: 400; text-align:center;}
.bm-case .app .fl{width:50%;}
.bm-case .app .fl img{width: 523px;}
.bm-case .app .fl p.slogan{margin-bottom:30px;}
.bm-case .app .fl p{color:#333; font-size:14px; line-height:25px;}
.bm-case .app .fl .btn{width:180px; height: 38px; margin:40px 0px 0px; color: #589181; font-size: 16px; border: 1px solid #589181; line-height: 36px;}
.bm-case .app .fl .btn:hover{color: #fff; background: #589181; transition:all 0.3s;}

/* 白皮书 */
.pdf{width:100%; height:100%; overflow:hidden;}
.pdf .pdf-object{width:100%; height:100%;}
.pdf .pdf-object-object{width:100%; height:100%;}

/*** 关于框架 banner ***/
.b-about{position:relative; padding-top:60px; background: #f0f8f7;}
.b-about .banner{position:relative; z-index:2; height:320px; background:#989aa3 url(../images/banner-fvedidfj478.png) no-repeat center;}
.b-about .banner .txt{position:absolute; left:50%; top:122px; width:500px; margin-left:-250px; text-align:center;}
.b-about .banner .tit1{color: #fff; font-size: 36px; font-weight: 300;}
.b-about .banner .en{color:#e8fdfa; font-size:16px;}

.b-company .banner{background:#113a50 url(../images/banner_about.png) no-repeat center;}
.b-contact .banner{background:#889ea6 url(../images/banner_concat.png) no-repeat center;}
.b-job .banner{background:#acafb1 url(../images/banner_job.png) no-repeat center;}
.b-milestone .banner{background:#9e9d9e url(../images/banner_milestone.png) no-repeat center;}

/*** 关于框架 二级菜单 ***/
.b-about .subnav{position: absolute; bottom: -30px; left: 50%; width:1180px; height:60px; margin-left: -590px; background:#fff; box-shadow: 1px 1px 3px #bbb;}
.b-about .subnav .tab{width:1030px; height:60px; margin:0 auto; padding:5px 0px;}
.b-about .subnav .tab-item{position: relative; float:left; width:206px; line-height:50px; color:#444; font-size:16px; text-align:center;}
.b-about .subnav .tab-item::after{content:''; position:absolute; top:16px; right:0px; width:1px; height:18px; background:#b7b7b7;}
.b-about .subnav .tab-item.last::after{width:0px;}
.b-about .subnav .tab-item.active a{color:#589181; font-weight:500;}
.b-about .subnav .tab-item a{color:#000; font-size:18px;}
.b-about .subnav .tab-item a:hover{color:#589181;}
.b-about .content{position:relative;}

/*** 关于框架 内容区 ***/
.b-about .contain{position:relative; padding: 51px 0px 50px; overflow:hidden;}
.b-about .contain .tit1{margin:45px auto 40px; color:#000; font-size:30px; font-weight:400; text-align:center;}

/*** 企业资讯 列表 ***/
.b-newslist .news-group .news-item{max-height:350px; margin-bottom: 20px; overflow: hidden; background:#fff; border: 1px solid #fff;}
.b-newslist .news-group .news-item:hover{border:1px solid #dcdcdc; box-shadow:0px 0px 10px #d2e2de;}
.b-newslist .news-group .news-item .fl{width:50%; padding: 20px 0px 20px 20px;}
.b-newslist .news-group .news-item a{height:350px;}
.b-newslist .news-group .news-item img{width: 100%; max-height: 310px;}
.b-newslist .news-group .news-item .txt{height:100%; padding:42px 48px;}
.b-newslist .news-group .news-item .txt .tit2{margin-bottom: 22px; font-size: 20px; color:#000; font-weight:500;}
.b-newslist .news-group .news-item .txt .time{margin-bottom: 29px; color:#939393;}
.b-newslist .news-group .news-item .txt .summary{color: #939393; line-height: 25px; }
.b-newslist .page-group{width: 102px; margin:0px auto 0px; padding-top:20px; text-align: center; overflow:hidden;}
.b-newslist .page-group .page-item{width:40px; height:40px; border:1px solid #b7b7b7; color:#b7b7b7; font-size:24px; text-align:center; line-height:38px; cursor:pointer;}
.b-newslist .page-group .page-item.left{margin-right:22px;}
.b-newslist .page{padding-top:20px; color:#999; text-align:center; font-size:16px;}
.b-newslist .page a{color:#999;}
.b-newslist .page a:hover{color:#589181;}
.b-newslist .page a[disabled]:hover, .b-newslist .page a:disabled {color: #999; cursor: default;}


/*** 企业资讯 内容 ***/
.b-news .banner .txt{top:135px;}
.b-news .content .wrap{width:1060px;}
.b-news .wrap .return{display:block; padding:18px 0px; color:#589181; font-weight: 200;}
.b-news .wrap .return .position{color:#589181;}
.b-news .contain{margin:0 auto 30px; padding:52px 40px 50px; border:1px solid #d6d6d6; background: #fff;}
.b-news .contain .tit1{margin:0px auto 15px; color:#333; font-size:30px; font-weight:400; text-align:left;}
.b-news .contain .meta{margin-bottom:24px; color:#999; font-weight: 200;}
.b-news .contain .meta .time{margin-right: 45px;}
.b-news .contain .cnt p img{max-width:100%}
.b-news .relation-group{margin-bottom: 30px;}
.b-news .relation-group .relation-item{color:#939393; font-size:16px; line-height:32px; font-weight: 200;}
.b-news .relation-group .relation-item a{color:#939393;}
.b-news .relation-group .relation-item a:hover{color:#589181;}

/*** 招聘需求 ***/
.b-job .job{width:1180px; overflow:hidden;}
.b-job .job .job-item{position:relative; height:120px; margin-bottom:20px; padding:25px 40px; background: #fff; border:1px solid #dcdcdc; overflow:hidden;}
.b-job .job .job-item.active{height:auto;}
/*.b-job .job .job-item:hover{border-color:#fff; box-shadow:2px 10px 30px #e8e8e8;}*/
.b-job .job-item .icon-jia{position:absolute; top:27px; right:30px; width:33px; height:28px; background-position:-230px 0px;}
/*.b-job .job-item:hover .icon-jia{background-position:-273px 0px; cursor:pointer;}*/
.b-job .job-item .tit2{color:#333; font-size:20px; margin-bottom:12px; font-weight:400;}
.b-job .job-item .intro{margin-bottom:12px; color:#999; font-size:16px; line-height:32px;}
.b-job .job-item .duty-hack dt{margin-top:17px;}
.b-job .job-item dt{margin:5px 0px 5px; color:#000; font-size:14px;}
.b-job .job-item dd{color:#939393; font-size:14px; line-height:32px;}
.b-job .job-item .ellipsis{position:absolute; left:0; bottom:0px; width:100%; height:20px; background:#fff; letter-spacing:4px;}
.b-job .job-item .view-more{position: absolute; top: 52px; right: 40px; width:31px; cursor:pointer; transition:all 0.5s;}
.b-job .job-item .view-more.active{transform:rotate(-180deg); -ms-transform:rotate(-180deg); -moz-transform:rotate(-180deg); -webkit-transform:rotate(-180deg); -o-transform:rotate(-180deg);}
.b-job .job-item .demand{margin-bottom:35px;}
.b-job .job-item .email{margin-top: 35px; font-size: 14px; color: #939393;}  
.b-job .job-item.last{margin-bottom:0px;}
.b-job .bg1{position:absolute; top:-51px; right: -191px; width:615px;}
.b-job .bg2{position:absolute; bottom:-114px; left:0px; width:740px;}
    

/*** 联系我们 ***/.sprites-contact{background:url(../images/sprites-contact.png);}
/*.b-contact .contain{margin-bottom:45px;}*/
.b-contact .map{position:relative; height:750px; border:1px solid #d5dcde; background:#fcf9f2;}
.b-contact .map .address{position:absolute; z-index:9; background:rgba(0, 0, 0, 0.57); width: 460px; height:748px; padding: 73px 70px;}
.b-contact .map .address .address-item{position:relative; clear: both; width: 320px; height:69px; margin-bottom: 20px; background: #599282; opacity: 1; filter:alpha(opacity=100); padding: 22px; overflow:hidden;}
.b-contact .map .address .address-item .s-icon{position: absolute; top: 29px; right: 20px; width: 16px; height: 11px; background-position: -26px 0px; cursor:pointer;}
.b-contact .map .address .address-item.active{height:160px;}
.b-contact .map .address .address-item.active .s-icon{position: absolute; width: 16px; height: 11px; right: 20px; top: 29px; background-position:0px 0px;}
.b-contact .map .address .address-item h2{font-size:19px; margin-bottom:24px; color:#fff; font-weight:400;}
.b-contact .map .address .address-item p{font-size:14px; color:#fff; line-height: 25px;}
.b-contact .map .address .address-item p span{display: inline-block; margin-top: -25px; padding-left:71px;}
.b-contact .map .iframe{position:absolute; top:0px; left:0px; opacity:0; filter:alpha(opacity=0);}
.b-contact .map .iframe.active{z-index:5; opacity:1; filter:alpha(opacity=100);}

/*** 关于我们 ***/
.b-company .contain{}
.b-company .bg{position: absolute; top: 0px; left: 50%; width: 1500px; margin-left: -750px;}
.b-company .contain .txt{width:100%; margin: 0 auto; padding:35px 30px 16px;  border: 1px solid #d8dbdb;  background: #fff;}
.b-company .contain .txt .tit2{padding: 0px 0px 21px; text-align: center; font-weight: 400; font-size: 14px;}
.b-company .contain .txt p{margin-bottom:19px; font-size: 14px; color: #666; line-height: 26px; text-indent: 2em;}

.b-milestone{background:#fff;}
.b-milestone .contain{padding-top: 87px;}
.b-milestone .contain .txt{position:relative; height:1142px;}
.b-milestone .contain .milestone{position:absolute; right:70px; z-index:1px; width:800px;}
.b-milestone .contain .bg{position:absolute; top: -82px;  left: -157px; z-index:0; width:1500px;}
.b-milestone .contain .icon{position: absolute;}
.b-milestone .contain .icon1{top: 413px; right: 32px; width: 75px;}
.b-milestone .contain .icon2{top: 65px; left: 159px; width: 74px;}
.b-milestone .contain .icon3{top: 733px; left: 94px; width: 92px;}
.b-milestone .contain .icon4{top: 782px; left: 734px; width: 65px;}
.b-milestone .contain .icon5{top: 959px; left: 400px; width: 38px;}
.b-milestone .contain .more{position: absolute; bottom: 0px; width: 100%; text-align: center;}
.b-milestone .contain .more .more-item{display: inline-block; width: 9px; height: 9px; background: #589181; border-radius: 50%;}
.b-milestone .contain .year-group{position: absolute;}
.b-milestone .contain .year-item span{font-size: 30px; font-family: consolas;}
.b-milestone .contain .year-item p{margin-left: 80px; margin-bottom:15px; padding-top:11px; color:#666; font-size:16px; line-height:30px;}
.b-milestone .year2012{top: 7px; right: 115px; width: 600px;}
.b-milestone .year2014{top: 182px; right: 66px; width: 600px;}
.b-milestone .year2015{top: 343px; left: 172px; width: 540px;}
.b-milestone .year2016{top: 611px; right: 17px; width: 635px;}
.b-milestone .year2017{top: 880px; right: -33px; width: 475px;}

/*** 公司简介 ***/
.b-intro .content{width:100%; margin-top:40px;}
.b-intro .content .txt{float:left; padding:44px; width:700px; height:313px; color:#fff; background:#3aa595;}
.b-intro .content .txt .tit2{margin-bottom:25px; font-size:20px;}
.b-intro .content .txt .cnt{margin-bottom:25px; line-height:25px;}
.b-intro .content .img{float:right; width:280px; height:313px;}

/* 产品服务 - 产品服务 */
.b-bass .banner{padding:50px 0px 50px;}
.b-bass .banner .tit2{padding:0px 0px 50px; font-size:30px; color:#000; text-align:center; font-weight:400;}
.b-bass .banner-head{width:100%; height:430px; margin-top:60px;
	background:-webkit-linear-gradient(top, #000224, #004543);
	background:-moz-linear-gradient(top, #000224, #004543);
	background:-ms-linear-gradient(top, #000224, #004543);
	background:-o-linear-gradient(top, #000224, #004543);
	background:linear-gradient(top, #000224, #004543);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000224, endColorstr=#004543);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000224, endColorstr=#004543)";}
.b-bass .banner-head .img-wrap{width:50%; height:430px;}
.b-bass .banner-head .img-wrap img{width:490px; margin: 50px 0px 0px 60px;}
.b-bass .banner-head .txt{width:50%; height:430px;}
.b-bass .banner-head .txt{padding-left:150px;}
.b-bass .banner-head .txt .tit{margin-top: 128px; color:#fff; font-size:44px; font-weight:400;}
.b-bass .banner-head .txt .cnt{margin-top:30px; color:#fff; font-size:20px; line-height:36px;}

/** 产品服务 **/
.b-bass .server-group{width:100%; height:369px;; padding:0px 2px;}
.b-bass .server-group .server-item{display:inline-block; width:192px; height:369px; padding:54px 30px; border:1px solid #fff; vertical-align:top;}
.b-bass .server-group .server-item:hover{border:1px solid #dcdcdc; box-shadow:0px 0px 10px #d2e2de;}
.b-bass .server-group .server-item img{display:block; width:58px; height:52px; margin:0 auto 70px;}
.b-bass .server-group .server-item .tit3{margin-bottom:20px; font-size:18px; color:#000; text-align:center; font-weight:400;}
.b-bass .server-group .server-item .txt{font-size:14px; color:#939393; line-height:23px;}
/** 健康监控 **/
.b-bass .banner.monitor{background:#f0f8f7;}
.b-bass .banner.monitor .wrap{overflow:hidden;}
.b-bass .banner.monitor .img-wrap{width:50%;}
.b-bass .banner.monitor .img-wrap img{width:500px;}
.b-bass .banner.monitor .txt{width:500px; margin-left:90px;}
.b-bass .banner.monitor .txt-item{position:relative; /*padding-left: 32px;*/}
/*.b-bass .banner.monitor .txt-item img{position:absolute; left: 0px; top: 5px; width: 20px;}*/
.b-bass .banner.monitor .txt-item .tit3{margin-bottom:8px; font-size:18px; color:#000; font-weight:400;}
.b-bass .banner.monitor .txt-item .intro{margin-bottom:28px; color:#939393; line-height:25px;}
/** 数据分析 **/
.b-bass .banner.data-analy .tit3{margin-bottom:80px; font-size:18px; color:#000; text-align:center; font-weight:400;}
.b-bass .banner.data-analy .img{display:block; width:457px; margin:0 auto;}
.b-bass .banner.data-analy .label1{position:absolute; top: 105px; left: 130px;}
.b-bass .banner.data-analy .label2{position:absolute; top: 96px; left: 670px;}
.b-bass .banner.data-analy .label3{position:absolute; top: 394px; left: 235px;}
/** 浏览器 **/
.b-bass .banner.browser{background:#f0f8f7;}
.b-bass .banner.browser .wrap{overflow:hidden;}
.b-bass .banner.browser .img-wrap{width:50%; text-align: right;}
.b-bass .banner.browser .img-wrap img{width:500px; height:340px;}
.b-bass .banner.browser .txt{width:50%;}
.b-bass .banner.browser .txt .tit3{margin-bottom:12px; padding-right: 140px; color:#000; font-size:18px; line-height:33px; font-weight:400;}
.b-bass .banner.browser .txt .txt-item{position:relative; /*padding-left: 32px;*/ color:#939393; line-height:36px;}
/*.b-bass .banner.browser .txt .txt-item img{position: absolute; left: 0px; top: 10px; width: 20px;}*/
/** 电子合同 **/
.b-bass .contract{padding-bottom:0px;}
.b-bass .contract img{display:block; width:677px; margin:65px auto 0px;}
.b-bass .contract .banner-bg{position:relative; height:90px; margin-top:-90px; color:#fff; background:#589181; font-size:24px; font-weight:200; text-align:center; line-height:90px;}
.b-bass .contract .banner-bg .particles-js{height:90px;}
.b-bass .contract .banner-bg .tit{position: relative; margin-top: -90px;}
.b-bass .contract .label{position:absolute;}
.b-bass .contract .label .tit3{margin-bottom:7px; color:#000; font-size:18px; font-weight:400;}
.b-bass .contract .label .intro{color:#939393; line-height:25px;}
.b-bass .contract .label1{top: 120px; left: 60px; text-align: right;}
.b-bass .contract .label2{top: 216px; left: -12px; text-align: right;}
.b-bass .contract .label3{top: -65px; left: 451px;}
.b-bass .contract .label4{top: 117px; left: 942px;}
.b-bass .contract .label5{top: 216px; left: 942px;}
/** 常见问题 **/
.b-bass .banner.question{padding:40px 0px 50px; background:#f4faf9;}
.b-bass .banner.question .wrap{padding:0px 12px;}
.b-bass .banner.question .tit2{padding:0px 0px 20px;}
.b-bass .banner.question .q-item{width:1000px; min-height:100px; margin:0 auto; margin-bottom:20px; padding:12px 34px; background:#fff; border:1px solid #fff; font-size:18px; color:#939393;}
.b-bass .banner.question .q-item div{line-height:36px;}
.b-bass .banner.question .q-item .q{color:#000; font-size:16px; font-weight:400;}
.b-bass .banner.question .q-item .a{position: relative; padding-left: 40px; font-size:14px; line-height: 30px;}
.b-bass .banner.question .q-item .a .lighthigh{position: absolute; left: 0px; top: -2px;}
.b-bass .banner.question .q-item:hover{border:1px solid #dcdcdc; box-shadow:0px 0px 10px #d2e2de;}
.b-bass .banner.question .q-item .lighthigh{color:#589181; font-size:20px; font-weight:400;}
.b-bass .banner.question .q-item.last{margin-bottom:0px;}

/* 产品服务 - 区块链网络 */
.b-blockchain .banner{padding:50px 0px 50px;}
.b-blockchain .banner .tit2{padding:0px 0px 50px; font-size:30px; color:#000; text-align:center; font-weight:400;}
.b-blockchain .banner-head{
	width:100%; height:430px; margin-top:60px;
	background:-webkit-linear-gradient(top, #04282a, #259a80);
	background:-moz-linear-gradient(top, #04282a, #259a80);
	background:-ms-linear-gradient(top, #04282a, #259a80);
	background:-o-linear-gradient(top, #04282a, #259a80);
	background:linear-gradient(top, #04282a, #259a80);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#04282a, endColorstr=#259a80);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000224, endColorstr=#004543)";
}
.b-blockchain .banner-head .img-wrap{width:50%; height:430px;}
.b-blockchain .banner-head .img-wrap img{width:490px; margin: 33px 0px 0px 100px;}
.b-blockchain .banner-head .txt{width:50%; height:430px;}
.b-blockchain .banner-head .txt{padding-left:100px;}
.b-blockchain .banner-head .txt .tit{margin-top: 128px; color:#fff; font-size:44px; font-weight:400;}
.b-blockchain .banner-head .txt .cnt{margin-top:30px; color:#fff; font-size:20px; line-height:36px;}

.b-blockchain .intro {position: relative; height: 360px; line-height:28px; font-size: 16px;}
.b-blockchain .intro .wrap{width: 960px;}
.b-blockchain .intro .bc-net{position: absolute; z-index: -1; bottom:0px; width: 100%;}

.b-blockchain .contract{height: 480px; background: #f0f8f7;}
.b-blockchain .contract .wrap{overflow: hidden;}
.b-blockchain .contract .img{width: 596px; margin: 0px;}
.b-blockchain .contract .txt{width: 509px; padding-top: 50px;}
.b-blockchain .contract .tit3{margin-bottom: 7px; color: #000; font-size: 18px; font-weight: 500; line-height: 32px;}
.b-blockchain .contract .cnt{color: #939393; font-size: 14px; line-height: 28px;}

.b-blockchain .consensus{height: 512px;}
.b-blockchain .consensus .wrap{padding: 0px 55px; overflow: hidden;}
.b-blockchain .consensus .img-wrap{padding-right: 100px;}
.b-blockchain .consensus .img{width: 596px; margin: 0px;}
.b-blockchain .consensus .txt{width: 509px; padding-top: 30px;}
.b-blockchain .consensus .tit3{margin-bottom: 7px; color: #000; font-size: 18px; font-weight: 500; line-height: 32px;}
.b-blockchain .consensus .cnt{color: #939393; font-size: 14px; line-height: 28px;}

.b-blockchain .security{height: 430px; background: #f0f8f7;}
.b-blockchain .security .wrap{padding: 0px 55px; overflow: hidden;}
.b-blockchain .security .img{width:400px;}
.b-blockchain .security .txt{width: 509px; padding-top: 17px;}
.b-blockchain .security .tit3{margin-bottom: 7px; color: #000; font-size: 18px; font-weight: 500; line-height: 32px;}
.b-blockchain .security .cnt{color: #939393; font-size: 14px; line-height: 28px;}

.b-blockchain .cross-chain{height: 550px;}
.b-blockchain .cross-chain .wrap{padding: 0px 55px; overflow: hidden;}
.b-blockchain .cross-chain .img{width:434px;}
.b-blockchain .cross-chain .txt{width: 509px; padding-top: 90px;}
.b-blockchain .cross-chain .tit3{margin-bottom: 7px; color: #000; font-size: 18px; font-weight: 500; line-height: 32px;}
.b-blockchain .cross-chain .cnt{color: #939393; font-size: 14px; line-height: 28px;}

.b-blockchain .github{
	height: 250px;
	background:-webkit-linear-gradient(left, #1ab386, #55d58d);
	background:-moz-linear-gradient(left, #1ab386, #55d58d);
	background:-ms-linear-gradient(left, #1ab386, #55d58d);
	background:-o-linear-gradient(left, #1ab386, #55d58d);
	background:linear-gradient(left, #1ab386, #55d58d);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1ab386, endColorstr=#55d58d);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1ab386, endColorstr=#55d58d)";}
.b-blockchain .github .wrap{height: 250px; overflow:hidden;}
.b-blockchain .github .img{position: absolute; z-index: 0;}
.b-blockchain .github .study-blockchain{position:relative; padding: 80px 0px 20px; color:#fff; font-size: 30px; text-align: center; font-weight: 500;}
.b-blockchain .github .link{position:relative; display: block; width: 100px; height: 36px; margin:0 auto; color:#fff; text-align: center; line-height: 34px; border: 1px solid #fff;}
.b-blockchain .github .link:hover{background:#fff; color:#589181; border-color:#fff;}


/*** 尾部 ***/
.footer{position:relative; min-height:260px; background:#3a3a3a;}
.footer .wrap{padding-top:45px; overflow:hidden;}
.footer .wrap .logo{overflow:hidden;}
.footer .wrap .i-bubi{width: 142px; height:35px; margin-right:130px; background-position:-1041px 0px;}
.footer .link-group{width:790px; height:200px; margin-bottom: 38px; padding-top: 17px; margin-left: 235px;}
.footer .link-group .link-item{width: 197px;}
.footer .link-group .link-item h3{margin-bottom:15px; color:#bab9b9; font-size:16px;}
.footer .link-group .link-item h3 a{display: block;  margin-top: -5px; font-size:16px;}
.footer .link-group .link-item a, .footer .link-group .link-item span{color:#bab9b9; font-size:14px; line-height:30px;}
.footer .link-group .link-item a:hover{color:#589181;}
.footer .link-group .link-item span.active{color:#fff;}
.footer .qrcode{width:132px; margin-top:20px; float:right;}
.footer .qrcode .pic{width:132px; height:132px;}
.footer .qrcode .txt{ margin-top:10px; color:#fff; font-size:12px;}
.footer .copyright{clear:both; height:80px; margin-top:20px; line-height:80px; color:#777; text-align:center; border-top:1px solid #515151;}



/* 手机适配 - 首页 */
.wap{width:980px;}
.wap .wrap{width:980px;}
.wap .header .wrap{padding:0px 30px;}
.wap .header .nav-group .nav-list{margin-left:25px;}
.wap .swiper-container .slide-bubi{overflow:hidden;}
.wap .swiper-container .slide-bumeng .txt {width: 390px; margin-top: 150px;}
.wap .swiper-container .slide-bubix .txt {width: 290px; margin-top: 200px; margin-left: 60px;}
.wap .swiper-container .slide-bubix .img {width: 525px; margin-top: 120px; margin-right: 60px;}
.wap .swiper-container .slide-bunuo .txt {width: 420px; margin-top: 200px; margin-left: 60px;}
.wap .swiper-container .slide-bunuo .img {width: 417px; margin-top: 110px; margin-right: 50px;}
.wap .swiper-container .slide-bumo .img {width: 900px; margin-top: 130px; margin-left: 40px;}
.wap .swiper-container .slide-bumo .txt {bottom: 50px; left: 45px;}
.wap .swiper-container .slide-bumo-graduation-competition .img {width: 900px; margin-top: 125px; margin-left: 40px;}
.wap .swiper-container .slide-bumo-graduation-competition .txt {bottom: 60px; left: 80px;}
.wap .scene-group .scene-item .cnt a.btn {top: 83%;}
.wap .scene-group .scene-item .cnt p{font-size:13px; line-height:20px;}
.wap .scene-group .scene-item.active .cnt h3{top:36%;}
.wap .scene-group .scene-item .cnt .line {top: 57%;}
.wap .bubix .wrap img{width: 420px;margin-top: 45px;}
.wap .bubix .txt{width: 460px;}
.wap .bass .txt{width:400px;}
.wap .bass .txt li{width:50%;}
.wap .advantage .avt-group .avt-item{width:50%;}
.wap .advantage .avt-group{height:auto;padding-right: 11px;}
.wap .solutions .circle{transform: scale(0.8);}
.wap .news .news-group{padding:0px 62px;}
.wap .news .news-group .news-item:last-child{display:none;}
.wap .news .news-group .news-item:nth-child(2){float:right; margin:0px 15px;}
.wap .news .news-group .news-item{margin:0px 15px;}
.wap .partner-group{width: 980px; padding-left: 60px;}
.wap .partner-group .partner-item{width:200px;}
.wap .footer-banner{overflow:hidden;}

/* 手机适配 - 应用场景 */
.wap.bm-case .banner-head .wrap{padding:0px 15px;}
.wap.bm-case .banner-head .fl{width: 50%;}
.wap.bm-case .banner-head .txt{margin-top: -15px; padding: 0px 0px 0px 100px;}
.wap.bm-case .img{transform: scale(0.7); margin-left: -80px;}
.wap.bm-case .case-solution .wrap .img-wrap{margin-left: -18px; margin-top: -24px; transform: scale(0.9);}
.wap.bm-case .case-solution .wrap .intro{float:right; width: 265px; margin-right: 25px; margin-top:0px; margin-left:0px;}
.wap.bm-case.case-publicity .case-solution .wrap .intro{width: 255px;}
.wap.bm-case.case-share-bond .case-solution .wrap .intro{width: 265px; margin-right: 25px;}
.wap.bm-case.case-finance .case-solution .wrap .intro{width: 235px;}
.wap.bm-case .feature-group{padding:0px 25px;}
.wap.bm-case .feature-group .feature-item{width:290px;}
.wap.bm-case .feature-group .feature-item.center{margin:0px 30px;}
.wap .app .cnt .txt{width: 50%; padding: 0px 25px;}
.wap .app .cnt .img{margin-left:0px; transform: scale(0.8);}

/* 手机适配 - 贵阳我们 */
.wap.b-about .contain .tit1,
.wap.b-company .contain .txt p{width:101%;}
.wap.b-about .content{overflow:hidden;}
.wap.b-news .content{padding:0px 30px 0px;}
.wap.b-news .banner{margin:0px -30px;}
.wap.b-news .wrap{width:100%;}
.wap.b-news .footer .wrap{width:800px;}
.wap.b-news .wrap .return{height:52px;}
.wap.b-news .contain .meta{height:23px;}
.wap.b-news .contain .cnt{width:101%;}
.wap.b-news .relation-group .relation-item{font-size:12px;}
.wap.b-job .contain .wrap{width:100%;}
.wap.b-job .job{width:100%;}
.wap.b-job .contain{padding:51px 25px 50px;}
.wap.b-job .job-item .tit2{height:30px;}
.wap.b-job .job-item .email{height:52px;}
.wap.b-job .job-item .intro1{height:30px;}
.wap.b-job .job-item .intro2{height:196px;}
.wap.b-job .job-item .intro3{height:30px;}

/** 发展历程 **/
.wap.b-milestone .contain .icon1{right: 205px;}
.wap.b-milestone .contain .icon2{left:75px;}
.wap.b-milestone .contain .icon3 {top: 846px;}
.wap.b-milestone .contain .icon4 {left: 465px;}
.wap.b-milestone .contain .icon5 {top: 1009px; left: 235px;}
.wap.b-milestone .year2015 {top: 312px; left: 56px; width: 369px;}

.wap.b-company .contain {padding: 56px 25px 50px;}
.wap.b-company .contain .wrap{width:100%;}
.wap.b-newslist .news-group .news-item .txt .tit2{margin-bottom: 15px;}
.wap.b-newslist .news-group .news-item .txt .time{margin-bottom: 20px;}
.wap.b-newslist .contain {padding: 56px 25px 50px;}
.wap.b-newslist .contain .wrap{width:100%;}

/* 手机适配 - 产品服务 */
.wap.b-bass .question .q-item{width:100%;}
.wap.b-bass .server-group .server-item{width: 317px;}
.wap.b-bass .banner.monitor .txt{width:50%; margin-left:0px; padding-right: 15px;}
.wap.b-bass .banner.data-analy .tit3{padding:0px 15px;}
.wap.b-bass .banner.browser .txt{padding-left:65px;}
.wap.b-bass .banner.browser .txt .tit3{padding-right:0px;}
.wap.b-bass .banner.question .wrap{padding:0px 25px;}
.wap.b-bass .banner.data-analy .label1{top: 158px; left: 28px;}
.wap.b-bass .banner.data-analy .label2{top: 147px; left: 574px;}
.wap.b-bass .banner.data-analy .label3{top: 449px; left: 134px;}
.wap.b-bass .banner.contract img{width: 500px; height:301px;}
.wap.b-bass .banner.contract .label1{top: 54px; left: 49px;}
.wap.b-bass .banner.contract .label2{top: 120px; left: 31px; width: 198px; text-align: right;}
.wap.b-bass .banner.contract .label3{width:370px;}
.wap.b-bass .banner.contract .label4{top: 38px; left: 758px; width: 195px;}
.wap.b-bass .banner.contract .label5{top: 126px; left: 761px; width: 165px;}
.wap.b-bass .banner .tit2 {height:80px;}
.wap.b-bass .banner.data-analy .tit3{height: 73px; padding: 0px 240px;}
.wap.b-bass .banner.question .q-item .q{height:58px;}
.wap.b-bass .server-group{height: 750px; padding-left:10px;}

/** 手机适配 - 区块链网络**/
.wap.b-blockchain .wrap{width:100%;}
.wap.b-blockchain .banner-head .txt{padding: 30px 25px 0px 150px;}
.wap.b-blockchain .intro .wrap{padding: 0px 100px;}
.wap.b-blockchain .contract .img{width: 510px; margin-left: 20px;}
.wap.b-blockchain .contract .txt{width: 385px; padding: 0px 15px 0px 0px;}
.wap.b-blockchain .consensus .wrap{padding: 0px 50px;}
.wap.b-blockchain .consensus .img-wrap {padding-right: 0px;}
.wap.b-blockchain .security .txt {width: 405px; padding-top: 0px;}
.wap.b-blockchain .cross-chain .wrap {padding: 0px 35px;}
.wap.b-blockchain .cross-chain .txt { width: 460px; padding-top: 45px;}
.wap.b-blockchain .cross-chain img { width: 400px;}

/** 手机适配 - 尾部 **/
.wap .footer .wrap{width:800px;}
.wap .footer .link-group .link-item{width:150px;}
.wap .footer .link-group{width:650px; margin-left:0px;}